body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

@media screen and (max-width: 800px) {
    .css-1blauzg {
      width: 70% !important;
      position: absolute !important;
      /* top: 15% !important;
      left: 10% !important; */
  
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
  }
  .w-50 {
    width: 75% !important;
  }
}

.css-hh1s1m-JoyCardCover-root [data-first-child]{
    border-radius: 0 !important;
  }
  label {
    color: #000;
  }

  .search-container{
    display: flex;
    background-color: #fff;
     justify-content: space-between;
     align-items: center;
     padding: 30px 30px;
     /* position: absolute; */
     /* top: 50%;
     left: 50%;
     transform: translate(-50%, -50%); */
     width: 90%;
    border-radius: 5px;
    flex-wrap: wrap;
      
  }

  .search-container input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid gray;
    padding: 5px 10px;
    width: 100%;
  }